.navigation {
	display: grid;
	grid-template-columns: 51rem 1fr 1fr;
	justify-content: space-around;
	align-items: center;
	background-color: #111418;
	padding: 1.5rem 5rem;

	&__logo {
		width: 25rem;
		// height: 7.4rem;

		img {
			@include img-size;
		}
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 0 4.5rem;
	}
	&__link {
		color: $color-white;
		border-bottom: 5px solid transparent;
		padding-bottom: 3rem;
		transition: all 0.3s;
		font-size: 2.2rem;
		font-weight: 700;
		line-height: 3rem;

		&:hover {
			border-bottom: 5px solid #eff9ff;
		}
	}

	&__btns {
		justify-self: end;
		display: flex;
		align-items: center;
		gap: 3rem;
	}

	&__btn {
		color: $color-black;
		border-radius: 1.5rem;
		text-transform: capitalize;
		font-weight: bold;
	}
	.form-group {
		margin-bottom: 0 !important;
	}
}
// ============================================
// ============================================
button[id*='flagstrap-drop-down'] {
	background: #000 !important;
	border-color: #fff !important;

	.flagstrap-icon {
		transform: scale(1.8);
	}
	.caret {
		border-top: 7px dashed;
		border-right: 7px solid transparent;
		border-left: 7px solid transparent;
		margin-bottom: 5px;
	}
}
